<% layout('layouts/boilerplate') %>

    <body>
        <h1>Edit Campground <%= campground.title %>
        </h1>
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
            <div>
                <label for="title">title</label>
                <input type="text" id="title" name="campground[title]" value="<%= campground.title %> ">
            </div>

            <div>
                <label for="location">location</label>
                <input type="text" id="location" name="campground[location]" value="<%= campground.location %> ">
            </div>

            <button>Update Campground</button>
        </form>

        <a href="/campgrounds">back to campgrounds</a>