<% layout('layouts/boilerplate') %>
    <h1>All Campgrouns</h1>
    <div><a href="/campgrounds/new">Add a new Campground</a></div>
    <ul>
        <%for(let camp of campgrounds){%>
            <li>
                <a href="campgrounds/<%=camp._id %>">
                    <%= camp.title %>
                </a>
            </li>


            <%}%>
    </ul>