<% layout('layouts/boilerplate') %>

    <body>
        <h1>Add a new Campground</h1>
        <form action="/campgrounds" method="post">
            <div>
                <label for="title">title</label>
                <input type="text" id="title" name="campground[title]">
            </div>

            <div>
                <label for="location">location</label>
                <input type="text" id="location" name="campground[location]">
            </div>

            <button>Add Campground</button>
        </form>

        <a href="/campgrounds">back to campgrounds</a>