<% layout('layouts/boilerplate') %>

    <body>
        <h1>Campground <%= campground.title %>
        </h1>
        <h2>
            <%= campground.location %>
        </h2>

        <p>
            <a href="/campgrounds/<%= campground._id %>/edit ">Edit this campground</a>
        </p>

        <div>
            <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                <button>Delete this campground</button>
            </form>
        </div>



        <a href="/campgrounds">back to all campgrounds</a>